:root {
	--text-color: #906E5E;
	--body-color: #DBD2D1;
	--background-color: #B6ABAB;
	--button-color : #9b9b9b;
	--accet-color: #621C31;
}
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
/** 공통 */
*{
	font-family: 'Dongle', sans-serif;
	box-sizing: border-box;
	transition: all 1s;
	outline: none;
	
	
}

html {
	font-size: 1.2rem;
}

body {
	margin: 0;
	color: var(--text-color);
	background-color: var(--body-color);
}

.inline {
	margin: 0;
	display: block;
}

.p_tit {
	margin: 20px 0;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 25;
	color: #5E1C31;
}

.n_tit {
	margin: 20px 0;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	color: #E44A5A;
}

.mtit {
	margin: 20px 0;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	color: #FEE493
}

.maintit {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	color: #2C3037;
	margin-top: 15px;
}

.stit {
	padding-left: 30px;
	text-align: left;
	color: #ffffff;
	border-bottom: 1px solid;
	font-size: 25px;

}

.nt_tit {
	margin: 20px 0;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	color: #E44A5A;
}

.inline {
	display: inline;
}

.bg_wh {
	margin-left: 0;
	padding: 10px 0 10px 40px;
	background-color: white;
}

a{
	text-decoration: none;
	color: var(--text-color);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none; 
}

.news_list li {
	padding-left: calc(20%);
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: var(--text-color);
	cursor: pointer;
}

.news_list li:hover {
	background-color: #ffffff;
	border-bottom: 1px solid var(--accet-color);
}

/** image */
.logo_img {
	display: block;
	margin: auto;
}

.login_img {
	display: block;
	margin: auto;
}

.news_img {
	display: block;
	margin: auto;
}

.myinfo_img {
	display: block;
	margin: auto;
}

table {
	font-size: 1rem;

	width: 40%;
	margin-top: 20px;
	margin-left:30%; 
	margin-right:30%;
	margin-bottom: 20px;
}

table, th, td {
	text-align: left;
	vertical-align: bottom;
	border-collapse : collapse;
	border-bottom: 2px solid #9b9b9b;
	height: 40px;
}

td {
	text-align: center;
	padding-right: 15px;
}

th {
	padding-left: 15px;
}

.dn {
    display: none !important;
}

input[type='checkbox'] {
	
}

input[type='text'],
input[type='password'] {
	display: block;
	color: var(--text-color);
    width: 50%;
    height: 55px;
    font-size: 1rem;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    margin: auto;
    padding: 0 15px;
    background-color: var(--background-color);
}

.s_btn {
	display: block;
	width: 50%;
    height: 55px;
    font-size: 1rem;
	color: #DAE9E7;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    margin: 15px auto;
    background-color: var(--button-color);
	z-index: 1;
}

.s_btn:hover {
	background-color: var(--background-color);
	color: var(--text-color);
	cursor: pointer;
}

/** Navi */
#nav {
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	height: 55px;
	font-size: 1rem;
}

.htit {
	padding-top: 10px ;
	text-align: center;
	height: 50px;
}

.htit:hover {
	background-color: var(--body-color);
	color: #ffffff;
}

.hline {
	padding-top: 65px;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 700px)  {
	table {
		width: 70%;
		margin-left:15%; 
		margin-right:15%;
		font-size: 0.8rem;
	}

	#nav {
		width: 100%;
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		background-color: #ffffff;
		height: 55px;
		font-size: 0.7rem;
	}

	.hline {
		font-size: 1rem;
	}
}